<h3>Update your age here</h3>
<br/>
<form action="/user/processUpdate" method="POST">
<label>Age:</label>
<input type="text" name="age" placeholder="your age here"/>
<br/>
<input type="submit" value="update"/>
</form>