<h3>Add a question</h3>
<form action="/question/process_question" method="POST">
<label>Question:</label>
<textarea name="question"></textarea>
<br>
<label>1:</label><input type="text" name="ch1"/><br/>
<label>2:</label><input type="text" name="ch2"/><br/>
<label>3:</label><input type="text" name="ch3"/><br/>
<label>4:</label><input type="text" name="ch4"/><br/> 
<label>Answer:</label><input type="text" name="answer"/><br/>
<input type="submit" value="add question"/>
</form>
