<html>
<head>
 <body>
 <center>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<h1>Congratulations</h1>
<div class ="form-row">
                <label>
                    <span>score is <%=req.session.score></span>
                    <input type="text" name="avalue">
                </label>
            </div>
</center>
 </body>
 </head>
 </html>
 
